.body {
    background-color: rgb(231, 224, 214);

}


img  {

width: 48%;
margin: auto;
display: block;

}

.navbar{
    background-color: #b39075;
}

h5 {
    font-family: 'Times New Roman', Times, serif;
    font: size 30px;
   

}

h3 {
   
    margin-right: auto;
    padding-left: 0px;

}

.fab {
    margin: 9px;
    font-size: 35px;
    text-align: center;

}
